version: '3.8'
services:
  mysql:
    image: mysql:8.0
    container_name: mysql_db
    restart: always
    ports:
      - "3306:3306" 
    environment:
      MYSQL_ROOT_PASSWORD: root_password  
      MYSQL_DATABASE: short_video_db      
      MYSQL_USER: admin                   
      MYSQL_PASSWORD: password            
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data: